# Compiled standalone applications
Applications/*standalone
Applications/UNLOC
# Chromatin database .mat files
*.mat
# Code output files
*.csv
*.tif
*.tar
*.json
# Except boutiques descriptor
!Deployment/microVip_boutiques_descriptor.json
# Backup files
*~
